@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.App {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  margin: 50px 25%;
  animation: fade 2s linear forwards;
}

.info,
.about,
.interests,
.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(46, 46, 46);
}

.info {
  align-items: center;
}

.info--headshot {
  width: 100%;
}

.info--name {
  margin-bottom: 0;
  color: white;
}

.info--occupation {
  margin: 0;
  color: rgb(117, 154, 168);
}

.info--website {
  margin-top: 8px;
  color: white;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.buttons > a > button {
  border-radius: 4px;
  border: 0;
  padding: 8px 16px;
  font-weight: 600;
}

.info--linkedin-button {
  background-color: rgb(50, 93, 150);
  color: white;
}

.buttons > a > button:hover {
  cursor: pointer;
}

.about,
.interests {
  padding: 0 10%;
  text-align: left;
  color: white;
}

.about--title,
.interests--title {
  font-size: 2rem;
  margin-bottom: 0;
}

.about--content,
.interests--content {
  margin-top: 0;
  margin-bottom: 0;
}

.interests--content {
  margin-bottom: 3rem;
}

.footer {
  flex-direction: row;
  justify-content: space-around;
  padding: 2% 20%;
  color: white;
  background-color: rgb(94, 79, 61);
}

.footer > a {
  color: white;
}

.footer > a:hover {
  color: rgb(50, 93, 150);
}
